<div class="text-center">
    <h2>編集</h2>

    <%= form_with(model: @tweet, local: true) do |f| %>
        <%= f.text_area :content , class: "entry-form"%></br>
        <%= f.submit "編集", class: "btn btn-primary btn-origin" %>
    <% end %>

</div>
