<nav class="navbar navbar-inverse">
    <div class="container">
        <div>
            <h2><%= link_to "Twitter Clone", root_path %></h2>
        </div>
        
        <ul class="nav navbar-nav navbar-right list-inline">
            <li><%= link_to "新規投稿", new_tweet_path %></li>
            <li><%= link_to "tweet一覧", tweets_path %></li>
        </ul>
    </div>
    

</nav>


